<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.arpan.bengali.quiz.testing">

    <application>
        <activity
            android:name="dev.arpan.bengali.quiz.testing.HiltFragmentTestActivity"
            android:exported="true"
            android:multiprocess="true"
            android:taskAffinity=""
            android:theme="@style/HilFragmentTestActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>